    <nav class="navbar navbar-expand-med navbar-light bg-light">
    <a class="navbar-brand" href="./"> Blog On Rails
    </a>

<div class=" navbar navbar-expand ">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/ideas" style="color: black ;">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/ideas/new" style="color: black ;">New Idea</a>
        </li>
        <li class="nav-item active">
              <% if user_signed_in? %>
                Hello <%=current_user.first_name%> 
                <%= button_to "Logout", session_path, method: :delete,
                data: {confirm: "are you sure you want to log out?"}%>
             <% else %>
                <%= link_to "Login", new_session_path %> |
                <%= link_to "Sign Up", new_user_path %>
             <% end %>
        <hr>
            <% flash.each do |type, message| %>
                <div class="alert alert-info" role=alert >
                <%= type + "-------" + message %>
                </div>
            <% end %>
        </li>
    </ul>
  </div>
</nav>